*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
   scroll-behavior: smooth;
}
body{
   background-color:#080808;
   color:#fff;
}
.container{
    padding: 10px 10%;
    margin-top:50px;
    font-size:50px;
    text-shadow:5px 5px red;
}

.loon{
    font-size:25px;
    justify-content:space-around;
    width:800px;
    height:40px;
    margin-left:100px;
    padding: 2px 5%;
    margin-top:10px;
    display:block;
}
.loon h3{
    text-shadow:4px 2px red;
}

.p1{
    margin-top:10px;
}

.andy{
    color:white;
    font-size:25px;
    border:2px solid red;
    border-radius:6px;
    background-color:red;
    text-decoration:none;
}

.andy:active{
    color:black;
}

.snip{
    margin-left:900px;
    margin-bottom:500px;
}

.kan{
    margin-left:900px;
    margin-bottom:300px;
}